body {
  background-color: #EEEEEE;
  color: #00adb5;
  text-align: center;
  background-size: 100%;
}

#description {
  margin: 20px;
  color: #3f3f44;
  font-family: 'Montserrat';
  font-weight: lighter;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 5px 8px rgba(0,0,0,0.2);
}

.main_h {
  text-align: center;
  margin-right: 30px;
  margin-top: 300px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  line-height: 5px;
  text-align: right;
}

h1 {
  font-size: 50px;
}

.sidenav {
  height: 60%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fbe6d4;
  padding-top: 10px;
  margin-left: 10px;
  box-shadow: 4px 4px 5px gray;
}

.social-link {
  text-align: left;
  text-align: center;
  margin-left: 20px;
}

p {
  text-align: center;
}

.social-link a {
  color: #ffa931;
  font-size: 30px;
}

.list-inline li {
  display: inline-block;
  padding: 10px;
}

.social-link {
  margin-right: 60%;
  margin-top: 30%;
}

.btn {
  background-color: #ffa931;
  margin-left: 83%;
  border: 1px solid #4A4A4A;
  padding: 10px 10px;
  border-radius: 10px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  text-decoration: none;
  color: white;
  width: 150px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}